// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$primary-color:         rgb(64, 71, 112);
$secondary-color:        rgb(222, 239, 183);
$gray:                  rgb(91, 91, 91);
$white:                 rgb(255, 255, 255);
