#blog {
  padding: 5.625rem 0;

  h2 {
    color: $primary-color;
    margin-bottom: 5.625rem;
    text-align: center;
    @include respond-to(handhelds) {
      margin-bottom: 10px;
    }
  }

  .blog-item {
    display: inline-block;
    float: left;

    h3 {
      color: $gray;
      margin-bottom: 0;
    }

    h5 {
      color: $gray;
      text-transform: uppercase;
    }

    p {
      color: $gray;
    }

    h5 {
      a {
        color: $gray;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
        -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
        -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
        transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
        -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
        -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
        -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
        transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
      }
    }

    & > a {
      background: none;
      border: 0.125em solid rgb(155,155,155);
      border-radius: 0.5em;
      color: $gray;
      font-size: 1rem;
      display: inline-block;
      padding: 0.5em 2.375em;
      text-decoration: none;
      -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
      -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
      -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
      transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
      -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
      -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
      -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
      transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);

      &:hover {
        background: rgb(155,155,155);
        color: $white;
      }
    }
  }

  .cta-container {
    text-align: center;
    margin-top: 5.625rem;

    a {
      background: $secondary-color;
      border-radius: 0.5rem;
      color: $gray;
      display: inline-block;
      font-size: 1rem;
      padding: 0.5em 5.5em;
      text-decoration: none;
      -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
      -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
      -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
      transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
      -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
      -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
      -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
      transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);

      &:hover {
        background: lighten($secondary-color, 5%);
      }
    }
  }
}
